#!/bin/sh

D0=$(dirname "$0")
codedir="$(cd "$D0/@CODE_REL@" && pwd)"
pydir="$(cd "$D0/@PY_REL@" && pwd)"
libdir="$(cd "$D0/@LIB_REL@" && pwd)"

PYTHONPATH="$codedir:$PYTHONPATH"
export PYTHONPATH
@LIB_PATH_VAR@="$libdir:$@LIB_PATH_VAR@"
export @LIB_PATH_VAR@

exec "$pydir"/bin/python3 "$codedir"/$(basename "$0") "$@"
